#  Godot 4+ specific ignores
.godot/

# Build
build/*
!build/.gitkeep

# Jetbrains
.idea/

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# macOS
.DS_Store

# Copyright issues
charts/**/*.ogv
charts/**/*.mp4
charts/**/*.mp3